@{
    ViewData["Title"] = "Mobile HIF Application Administration";
}

<div class="row">
    <div>
        <h3>Welcome to the Administration Portal for the Mobile HIF Application</h3>
    </div>
</div>
