@{
    ViewData["Title"] = "Centerstone App Administration";
}

<div class="row">
    <div>
        <ul>
            <li>Applications</li>
            <li>Income Guidelines</li>
        </ul>
    </div>
</div>
