@{
    ViewData["Title"] = "Mobile HIF Application Administration";
}

<div class="row">
    <div>
        <h1>Welcome to the Administration Portal for the Mobile HIF Application</h1>
    </div>
</div>
